<form action="/players/{{player._id}}?_method=PUT" method="POST">
    <label for="gamertag">Gamertag</label>
    <input type="text" name="gamertag" value="{{player.gamertag}}">

    <input type="submit" value="Edit">
</form>