<h1>GA Ultimate Marvel vs Capcom 3 Player Database</h1>

<h3>Players</h3>

{{#each players}}
<div>
   <a href="/players/{{this._id}}">{{this.gamertag}}</a> 
</div>
{{/each}}

<a href="/players/new">Add a New Player</a>