<!DOCTYPE html>
<html>

<head>
  <title>GA UMVC3 Player Database</title>
  
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Istok+Web:700" rel="stylesheet">
  <link rel='stylesheet' href='/stylesheets/style.css' />

</head>

<body>
  <div class="container">
  <header>
    <h1 class="title">Georgia Ultimate Marvel vs Capcom 3 Player Database</h1>
  </header>
  </div>
  {{{body}}}
</body>

</html>